
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

.container{
    display: grid;
    grid-template-columns: 40% 5% 40%;
    grid-template-rows: 25% 75%;
    margin: 5%;
}
.story{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.8rem;
    text-align: left;
}
.oldshop-img{
    width: 120%;
    margin-top: 20%;
}
.oldshop{
    grid-column: 3/4;
    grid-row: 1/2;

}

.vision-img{
    width: 80%;
    margin-top: 50%;
}
.vision-diagram{
    grid-column: 1/2;
    grid-row: 2/3;
}
.vision-paragraphs{
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 1.8rem;
    text-align: left;
}

hr {
    border: dotted lightgray 0.4rem;
    border-bottom: none;
    width: 10%;
    text-align: center;
}

@media (min-width:1200px){
    .oldshop-img{
        width: 100%;
        margin-top: 5%;
    }

}

@media (min-width:1500px){
    .oldshop-img{
        width: 100%;
        margin-top: 5%;
    }
    .container{
        display: grid;
        grid-template-columns: 40% 5% 40%;
        grid-template-rows: 35% 75%;
        margin: 5%;
    }

}

@media (max-width:770px){
    .container{
        display: flex;
        margin: 5%;
        flex-direction: column;
    }
    .story{
        font-size: 1.2rem;
        order: 2;
    }
    .oldshop{
        order: 1;
    }
    .oldshop-img{
        width: 100%;
        margin-top: 0%;
    }
    .vision-img{
        width: 40%;
        margin-top: 5%;
    }
    .vision-diagram{
        order: 3;
        margin-top: 0%;
    }
    .vision-paragraphs{
        order: 4;
        font-size: 1.2rem;
    }

}
