.contact_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10% 10% 10%;
    padding: 5%;
    gap: 4%;
}

.contact_left{
    text-align: center;
    background-color: #0158A8;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    padding: 5%;
}



.contact_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.contact_icon i {
    font-size: xx-large;
}

.contact_right{
    padding: 5%;
    display: grid;
    grid-template-columns:30% 70% ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.contact_right :nth-child(5){
    grid-row: 3/span 2;
}
.contact_right  :nth-child(6){
    grid-row: 3/span 2;
}

.contact_right  :nth-child(8){
    display: flex;
    justify-content: center;
    padding: 7% 0%;
}

/* .contact_right button{
    color: white;
    width: 60%;
    background-color: #0158A8;
    border: 1px solid #0158A8;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
} */


.contact_right button {
    /* width: 49%; */
    padding: 0;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: 2px solid #0158A8;

    background-color: #0158A8;
    overflow: hidden;
    cursor: pointer;
}

.contact_right button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -119%;
    bottom: -69%;
    width: 43%;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
}

.contact_right button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
}




.input{
    width: 100%;
    height: 60%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.textarea{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



@media only screen and (max-width: 600px) {
    .contact_container{
        grid-template-columns: 1fr;
    }
  }