
.search_bar{
    margin-top: 5%;
}

.searchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container{
    background-color: antiquewhite;
    width: 65%;
    padding: 1% 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    box-shadow: 0px 0px 17px -3px hsla(198, 41%, 57%, 0.56) ;
    box-shadow: 0px 0px 34px -10px #A2D2FF ;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    color: #0158A8;
}

.suggestions{
    list-style: none;
    width: 65%;
    font-size: small;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1%;
    margin-top: 0.5%;
}

.suggestions a {
    text-decoration: none;
    color: #0158A8;
    margin-right: 4px;
}

.suggestions_item {
    border-right: #0158A8 solid 1px;
}

.suggestions_item_d{
    border-right: #0158A8 solid 1px;
}

.last{
    border-right: none;
}

.category{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 0% 5%;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2vw;
}

.category_icon{
    align-self: center;
}

.main_container{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 5% 1% 1% 1%;
}

.aside{
    background-color: white;
    font-size: 1rem;
    padding: 2%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.aside-ul li {
    font-size: 0.8rem;
    list-style: none;
    margin-left: 1%;
    margin-top: 5%;
}

.filter{
    font-size: 1rem;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px hsla(0, 0%, 54%, 0.505);
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 2%;
    justify-content: space-evenly;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.expanded_filter{
    font-size: 0.8rem;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    padding: 0% 3% 4% 4%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px hsla(0, 0%, 54%, 0.505);
}

.main_right{
    background-color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1%;
}

.main_right_drop{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}

.related1{
    color: black;
}

.aside_header{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 2%;
    column-gap: 3%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px #D4CACA ;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.aside_header img{
    width: 100%;
}

.related_button{
    background-color: #D9415D;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: small;
    text-align: center;
    padding: 1%;
}

.related{
    margin-top: 2%;
    color: white;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 3%;
    align-items: center;
}

.product_grid{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,23.5%);
    gap: 2%;
}

.product_grid div{
    height: 100%;
}


.card-title{
    font-size: 1rem;
}

.card-text{
    font-size: 0.6rem;
}


.card-ul{
    font-size: 0.7rem;
}

.btn{
    background-color: #0158A8;
}

@media  (max-width: 1000px) {
    .product_grid{
        grid-template-columns: 32% 32% 32%;
    }
}


@media  (max-width: 800px) {
    .suggestion_media{
        display: none;
    }
    .suggestions_item_d{
        display: none;
    }
    .search-container{
        font-size: x-small;
    }
    .category{
        margin-top: 3%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 0% 5%;
        justify-content: space-between;
        text-align: center;
        font-size: 1.2vw;
    }
    .category :nth-child(6){
        display: none;
    }
    .category :nth-child(7){
        display: none;
    }
    .category :nth-child(8){
        display: none;
    }
    .category :nth-child(9){
        display: none;
    }
    .category :nth-child(16){
        display: none;
    }
    .category :nth-child(17){
        display: none;
    }
    .category :nth-child(18){
        display: none;
    }
    .category :nth-child(19){
        display: none;
    }
    .suggestions{
        font-size: xx-small;
    }
    .main_container{
        grid-template-columns: 100%;
    }
    .aside{
        display: none;
    }
    .product_grid{
        grid-template-columns: 48% 48%;
        row-gap: 0.1%;
    }
}





