
.container {
    margin: auto;
    width: 1080px;
    height: 150px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:"side1 searchbar side2";
}

.side1 {
    grid-area: side1;
}
.searchbar {
    grid-area: searchbar;
}

.side2 {
     grid-area: side2;
}

.search-container{
    align-self: center;
    width: 45rem;
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    box-shadow: 0px 0px 17px -3px hsla(198, 41%, 57%, 0.56) ;
    margin: auto;
    box-shadow: 0px 0px 34px -10px #A2D2FF ;
}

.search-container img{
    width: 1.5rem;
    margin-right: 2rem;
}

  .search-container p{
    margin-left: 2rem;
    color: #7E7E7E;
    font-size: 0.9rem;
}

  .slider-ul{
    display: flex;
    align-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 0.7rem;
    margin-left: 50px;
}

.slider-ul a{
    text-decoration: none;
    color:#7e7e7eb7 ;
    font-size: 0.7rem;
}

.container1 {
    margin: auto;
    width: 1080px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-auto-columns: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:"icon1 p2 p3 p4 p5 p6 p7 p8 p9 icon2";
}

.icon1 {
    grid-area: icon1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
}

.p5 {
    grid-area: p5;
}

.p6 {
    grid-area: p6;
}

.p7 {
    grid-area: p7;
}
.p8 {
    grid-area: p8;
}
.p9 {
    grid-area: p9;
}

.icon2 {
    grid-area: icon2;
}

.container-main {
    background-color: white;
    margin:70px auto;
    width: 1080px;
    height: 1900px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.7fr 4fr 0.1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "category button"
        "asid main"
        ". ."
        ". ."
        ". .";
}

.button {
    grid-area: button;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category {
    grid-area: category;background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius:10px ;
    box-shadow: 0px 0px 4px 0px #D4CACA ;
    font-family: 'Times New Roman', Times, serif;
}

.asid {
    grid-area: asid;
}

.main {
    padding: 20px;
    background-color: #ffffff;
    height: 1700px;
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 0.7fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "card-button card-button card-button card-button"
        "card1 card2 card3 card4"
        "card5 card6 card7 card8"
        "card9 card10 card11 card12"
        "card13 card14 card15 card16"
        "page-slider page-slider page-slider page-slider";
    grid-area: main;
}

.card-button {
    grid-area: card-button;
    display: flex; align-items: center;
    justify-content: space-evenly;
}

.card1 { grid-area: card1;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card2 {
    grid-area: card2;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card3 {
    grid-area: card3;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card4 {
    grid-area: card4;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card5 {
    grid-area: card5;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card6 {
    grid-area: card6;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}
.card7 {
    grid-area: card7;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card8 {
    grid-area: card8;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card9 {
    grid-area: card9;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card10 {
    grid-area: card10;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card11 {
    grid-area: card11;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card12 {
    grid-area: card12;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card13 {
    grid-area: card13;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card14 {
    grid-area: card14;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card15 {
    grid-area: card15;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.card16 {
    grid-area: card16;
    background-color: white;
    border: 1.5px hsla(207, 49%, 84%, 0.58) solid;
    box-shadow: 0px 0px 13px -7px #C2D7EA ;
}

.page-slider {
    grid-area: page-slider;
}

.asid-ul li {
    list-style: none;
    margin-left: 15px;
    margin-top: 30px;
}

.container-logo {
    margin:70px auto;
    width: 1080px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo1 logo2 logo3 logo4 logog logo6";
}

.logo1 {
    grid-area: logo1;
}

.logo2 {
    grid-area: logo2;
}

.logo3 {
    grid-area: logo3;
}

.logo4 {
    grid-area: logo4;
}

.logog {
    grid-area: logog;
}

.logo6 {
    grid-area: logo6;
}

.container- {
    margin:200px auto;
    width: 1080px;
    height: 200px;
    display: grid;
    grid-template-columns: 0.9fr 0.4fr 0.7fr 0.7fr 2.4fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "p1 p1 p1 p2 p3"
        "p6 p5 p4 p4 p4";
    }

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
    overflow: hidden;
}

.p5 {
    grid-area: p5;
}

.p6 {
    grid-area: p6;
}


@media(max-width: 770px){
    .asid {
        display: none;
    }
    .category {
        display: none;
    }
    .container-main{
        /* grid-template-columns: 1fr; */
        grid-template-areas:
        "button button"
        "main main"
        ". ."
        ". ."
        ". .";
    }
}

@media screen and (max-width: 500px){
    .container{
        display: none;
    }
    /* .main {
    grid-template-columns: repeat(2,1fr);
    */
}

/* @media(min-width:500px){
        .body-container{
            width: 450px;
        }
    }

    @media(min-width:770px){
        .body-container{
            width: 750px;
        }
    }

    @media(min-width:1400px){
        .body-container{
           width: 1370px;
        }
    }

    @media(min-width:2400px){
        .body-container{
            width: 2370px;
        }
    } */